<div class="wrapper row4">
  <footer id="footer" class="hoc clear"> 
    <div class="one_half first">
      <h6 class="title">Páginas mais visitadas</h6>
      <ul class="nospace linklist">
        <li><a href="#"><%= link_to Content.first.title, Content.first %></a></li>
        <li><a href="#"><%= link_to Content.last.title, Content.last %></a></li>
        <li><a href="#">Historia do atomo</a></li>
        <li><a href="#">Origem do universo</a></li>
      </ul>
    </div>
    <div class="one_half">
      <h6 class="title">Sobre</h6>
      <p>Esse projeto foi feito por alunos da UFABC sem fins lucrativos com o objetivo de proporcionar um ambiente educativo e simples para alunos do fundamental</p>
    </div>
  </footer>
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <p class="fl_left">Copyright © 2016 - All Rights Reserved - <a href="#">Aprendizado consciente</a></p>
    <p class="fl_right">Feito por <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">alunos do BCT da UFABC</a></p>
  </div>
</div>
